.item {
    transition: width 2s;
    fill: #424242;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
